body {
    background-color:wheat;
    margin: 0;  
}

h1 {
    margin: 0 auto 0 auto;
}

#cloud2{
    margin-left: 0;
    align-self: initial;
}

.image{
    margin: 0;
}

div {
    text-align: center;
}