body {
    background-color:wheat;
    margin: 0;  
}

h1 {
    margin: 0 auto 0 auto;
}

.clouds{
    position: absolute;
    right: 50%;
    bottom: 80%;
    align-content: center;
}

.name-container{
    margin-top: 100px;
}

.house{
    position: absolute;
    margin-left: 100px;
}

.sun{
    position: absolute;
    margin-right: 10px;
    margin-top: 10%;
}

div {
    text-align: center;
}