body {
    background-color:wheat;
    margin: 0; 
    text-align: center;
    font-family: 'Qahiri', serif;
}

h1 {
    font-style: 'Sacramento', sans-serif;
    margin: 0 auto 0 auto;
    font-size: 125px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
}

.clouds{
    position: absolute;
    right: 60%;
    bottom: 80%;
    align-content: center;
}

.middle-container{
    margin-top: 900px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.name-container{
    margin-top: 150px;
}

.house{
    position: absolute;
    align-self: center;
    margin-left: 150px;
}

.profile{
    border-radius: 20px;
    size: inherit;
}

.sun{
    position: absolute;
    margin-left: 1000px;
    margin-top: -300px;
}

.bottom-container{
    font-family: Verdana, Geneva, Tahoma, serif;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
}

div {
    text-align: center;
}